@font-face {
    font-family: 'Muller';
    src: url('/fonts/MullerLight.woff2') format('woff2'),
        url('/fonts/MullerLight.woff') format('woff');
    font-display: swap;
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('/fonts/MullerRegular.woff2') format('woff2'),
        url('/fonts/MullerRegular.woff') format('woff');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('/fonts/MullerMedium.woff2') format('woff2'),
        url('/fonts/MullerMedium.woff') format('woff');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('/fonts/MullerBold.woff2') format('woff2'),
        url('/fonts/MullerBold.woff') format('woff');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #cc9933;
}

p {
    padding-left: 45px;
    max-width: 88%;

    line-height: 32px;
}

address {
    font-weight: 500;
    font-style: normal;
    line-height: 24px;
}

body {
    font-family: 'Muller', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #333333;

    background-color: #f1f1f1;
}

.header {
    margin-bottom: 22px;
}

.container {
    max-width: 1168px;
    margin: 0 auto;
}

.section-title {
    padding-left: 45px;
    margin-bottom: 24px;

    font-size: 40px;
    font-weight: 400;
    line-height: 1;
}

.common-input {
    border: none;
    padding-left: 20px;

    line-height: 1;

    background-color: #ffffff;
}

.button {
    border-radius: 12px;
    border: 1px solid #cc9933;

    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    color: #ffffff;

    background-color: #cc9933;
    cursor: pointer;
    user-select: none;
    transition: 0.3s;
}

.button:hover {
    color: white;
    text-decoration: none;

    background-color: white;
    box-shadow: inset 0 0 16px rgba(0, 0, 0, .2); 
}

.item-pic {
    max-width: 100%;
}

.block-decor {
    border-radius: 12px;

    background-color: #ffffff;
}

.header__top {
    display: flex;
    align-items: center;
    padding-right: 10px;
    padding-top: 30px;
    margin-bottom: 28px;
}

.hotel-logo {
    max-width: 261px;
    height: 54px;
}

.hotel-tel {
    margin-left: 25px;

    color: #666666;
    font-size: 22px;
    font-weight: 500;
}

.hotel-tel:hover {
    text-decoration: underline;
    text-decoration-style: dashed;
}

.hotel-user-account {
    position: relative;

    margin-left: auto;
}

.hotel-user-account:before {
    content: "\f0a9";
    position: absolute;
    left: -16px;

    display: block;

    line-height: 1;
    font-family: "FontAwesome";
    color: inherit;

    transition: 0.3s;
}

.hotel-user-account:hover:before {
    transform: translateX(-20px);
}

.header__bottom {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    height: 70px;
}

.navigation__list {
    display: flex;
    height: 100%;
}

.links-list__item:not(:first-child) {
    margin-left: 45px;
}

.nav-item__link {
    display: flex;
    align-items: center;
    height: 100%;
    border-bottom: 1px solid transparent;

    line-height: 1;

    transition: 0.3s;
}

.nav-item__link:hover {
    border-bottom: 1px solid #cc9933;
}

.header__form {
    position: relative;

    align-self: center;
}

.header__form button {
    position: absolute;
    right: 10px;
    top: 12px;

    border: none;

    background-color: transparent;
    cursor: pointer;
}

.header-search__field {
    width: 355px;
    padding-top: 16px;
    padding-right: 50px;
    padding-bottom: 16px;
    border-radius: 15px;

    font-size: 14px;

    background-position: 94%;
    background-color: #f1f1f1;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.booking {
    display: flex;
    flex-direction: column;
    margin-right: 54px;
    width: 44.5%;
}

.booking__title {
    margin-bottom: 22px;
}

.booking__form {
    display: flex;
    flex-direction: column;
}

.booking-search__input-item {
    border-radius: 12px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 20px;
    margin-bottom: 24px;

    font-size: 16px;
}

.booking__search-button {
    position: relative;

    padding: 30px 25px;

    font-weight: 700;

    transition: 0.3s;
}

.booking__search-button_hovered:hover {
    background-color: #cc9933;
}

.booking__offer-count {
    display: inline-block;
    padding-left: 0;
    margin-left: 30px;

    color: #999999;
}

.booking__offer-count span {
    color: #cc9933;
    font-weight: 400;
}

.special-offer {
    width: 51%;
}

.special-offers {
    padding-top: 202px;
    padding-left: 46px;
    padding-bottom: 34px;

    width: 595px;

    background: url("/img/Content/special-room.png") no-repeat;
}

.special-offer__title {
    margin-bottom: 22px;
}

.special-offer-info-container {
    max-width: 62%;
}

.special-offers__title {
    padding-left: 0;
    margin-bottom: 28px;

    font-size: 66px;
    font-weight: 700;
    line-height: 58px;
    color: white;
}

.special-offer__price {
    font-size: 35px;
    line-height: 1;
    color: rgba(255, 255, 255, .49);
}

.special-offer__detail {
    position: relative;

    margin-left: 42px;
    padding-right: 15px;

    user-select: none;
}

.special-offer__detail:after {
    content: "\f105";
    position: absolute;
    top: -7px;
    right: 2px;
    bottom: 0;

    display: block;

    font-family: 'FontAwesome';
    font-size: 28px;
    line-height: 1;
    color: inherit;

    transition: 0.3s;
}

.special-offer__detail:hover:after {
    transform: translate(20px);
}

.about {
    margin-top: 62px;
}

.about__title {
    margin-bottom: 26px;
}

.about__description {
    color: #666666;
}

.services {
    margin-top: 96px;
}

.services__title {
    margin-bottom: 24px;
}

.services__items-list {
    display: flex;
    flex-wrap: wrap;
}

.services-list__item {
    margin-bottom: 24px;
    width: 48.9%;
}

.services-list__item:nth-child(odd) {
    margin-right: 24px;
}

.service-item__title {
    position: relative;

    display: inline-block;
    padding-left: 46px;
    margin-top: 32px;
    margin-bottom: 12px;

    color: #cc9933;
    font-size: 22px;
    font-weight: 500;
}

.service-item__title:after {
    position: absolute;
    top: -4px;
    right: -22px;
    bottom: 0;

    content: "\f105";
    display: block;
    
    font-family: "FontAwesome";
    font-size: 28px;

    transition: 0.3s;
}

.service-item__title:hover:after {
    transform: translate(20px);
}

.special-offer__detail:hover:after {
    transform: translate(20px);
}

.service-item__description {
    margin: 0;
    padding-bottom: 34px;

    color: #666666;
}

.features {
    margin-top: 42px;
}

.features__list {
    display: flex;
    flex-wrap: wrap;
}

.features-list__item {
    width: 23.5%;
    margin-bottom: 24px;
    padding-left: 45px;
    padding-top: 45px;
    padding-bottom: 28px;
}

.features-list__item:not(:nth-child(4n + 4)) {
    margin-right: 22px;
}

.features__pic {
    margin-bottom: 10px;
}

.features-item__description {
    padding-left: 0;
    margin: 0;
    max-width: 90%;
}

.placing {
    margin-top: 42px;
}

.placing__title {
    margin-top: 0;
}

.placing__list {
    display: flex;
    flex-wrap: wrap;
}

.placing-blocks__item {
    width: 32%;
    border-radius: 12px;
    margin-bottom: 22px;
    padding-bottom: 34px;

    background-color: #ffffff;
}

.placing-blocks__item:not(:nth-child(3n + 3)) {
    margin-right: 22px;
}

.placing-item-container {
    display: flex;
    flex-direction: column;
    padding: 0 45px;
}

.placing-item-info-container {
    display: flex;
    justify-content: space-between;
    margin-top: 26px;
}

.placing-item__from {
    color: #969696;
}

.placing-item__price {
    padding: 0;
    margin: 0;
}

.placing-item__sum {
    font-size: 22px;
}

.rating-container {
    align-self: center;
}

.placing-item__title {
    margin-top: 12px;
    margin-bottom: 0;

    font-size: 16px;
    font-weight: 500;
}

.placing-item__location {
    margin-top: 14px;

    color: #999999;
}

.placing-item__link {
    border: 1px solid #cc9933;
    padding: 12px 20px;
    margin-top: 20px;
    width: 36%;

    font-weight: 700;
    color: #cc9933;

    background-color: #ffffff;
    transition: 0.3s;
}

.placing-item__link_hovered:hover {
    background-color: #cc9933;
}

.all-places {
    position: relative;
    display: flex;
    align-items: flex-end;

    background: url("/img/Content/All-photo.png") no-repeat;
}

.all-places__title {
    font-weight: 500;
}

.all-places__link {
    position: absolute;
    bottom: 44px;
    left: 45px;
    margin: 0 auto;
    color: #ffffff;
    font-weight: 500;
    font-size: 22px;
}

.all-places__link:before {
    content: "";
    position: absolute;
    left: -45px;
    bottom: -45px;

    display: block;
    height: 441px;
    width: 136%;
}

.all-places__link:after {
    content: "\f105";
    position: absolute;
    bottom: 0;
    right: -18px;

    display: block;

    font-family: "FontAwesome";
    line-height: 1;
    font-size: 26px;
    color: inherit;

    transition: 0.3s;
}

.all-places__link:hover:after {
    color: #f1f1f1;

    transform: translateX(20px);
}

.contacts {
    margin-top: 38px;
}

.contacts__title {
    margin-top: 0;
}

.contacts__datas {
    padding: 48px 44px 44px 44px;
}

.info-list-item-container {
    display: flex;
    border-bottom: 1px solid #cccccc;
    padding-top: 22px;
    padding-bottom: 28px;
}

.info-list-item-container:first-child {
    padding-top: 0;
}

.info-list-item-title {
    max-width: 146px;
    width: 100%;
    margin: 0;

    font-weight: 700;
    font-size: 22px;
    color: #666666;
}

.info-list__number {
    display: block;
}

.info-list__number:first-child {
    margin-bottom: 12px;
}

.info-list__email {
    color: #999999;
}

.info-list__number,
.info-list__email a {
    font-weight: 500;
}

.contacts a:hover {
    text-decoration: underline;
    text-decoration-style: dashed;
}

.contacts p {
    display: block;
    padding-left: 0;
    margin: 0;
    line-height: 24px;
}

.info-list__email:first-child {
    margin-bottom: 6px;
}

.info-list__schedule {
    font-weight: 500;
}

.contacts__button {
    margin-top: 44px;
    padding: 24px 36px 26px 36px;
    border: 1px solid #cc9933;

    color: #cc9933;
    font-weight: 700;

    background-color: #ffffff;
}

.contacts__button_hovered:hover {
    background-color: #cc9933;
}

.contact-us a:hover,
.contacts a:hover,
.footer a:hover {
    text-decoration: underline;
    text-decoration-style: dashed;
}

.contact-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 68%;
    padding-top: 64px;
}

.contact-us__title {
    padding: 0;
    margin-top: 38px;
    margin-bottom: 46px;

    text-align: center;
}

.contact-us__form {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 0 auto;
    max-width: 342px;
    width: 100%;
}

.form__input {
    padding: 25px 20px;
    border-radius: 12px;
    width: 100%;
}

.form__input,
.form__textarea {
    margin-bottom: 24px;
}

.form__textarea {
    padding: 12px 20px;
    border: none;
    border-radius: 12px;
    background-color: #ffffff;
    width: 100%;

    color: #999999;

    resize: none;
}

.form__button {
    background-color: #cc9933;
    width: 100%;
    padding: 22px;

    font-weight: 700;
}

.form__button_hovered:hover {
    background-color: #cc9933;
}

.footer .container {
    margin-top: 22px;
    margin-bottom: 52px;
    padding: 46px 52px;
    border-radius: 12px;

    background: #333333 url("/img/Decorations/sun-footer.png") no-repeat 80% bottom;
}


.footer-info-container,
.footer-contact-container,
.footer-social-container {
    display: flex;
    flex-direction: column;
}

.footer-info-container {
    max-width: 340px;
    width: 100%;
}

.footer-info-container p {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-weight: 500;
}

p.footer__copy {
    padding: 0;
    margin-top: -8px;
}

p.footer__description {
    margin-top: 30px;
}

.footer-info-container a {
    margin-top: 44px;
}

.footer-contact-container p {
    padding: 0;
    margin: 0;

    color: #ffffff;
    line-height: 1;
}

.footer-contact-container a {
    width: 44%;
}

.footer-contact-container p {
    max-width: 100%;
}

.footer-phone-container,
.footer-email-container {
    display: flex;
    flex-direction: column;

    line-height: 24px;
}

.footer-phone-container {
    margin-top: 36px;
}

.footer-email-container {
    margin-top: 28px;
}

.footer-social-container {
    max-width: 180px;
    width: 100%;
    align-items: flex-end;
}

.footer-social-container li:not(:last-child) {
    margin-bottom: 22px;
}

.footer-social-container li a {
    transition: 0.3s;
}

.footer-social-container li a:hover img {
    transform: scale(1.1);
}