@font-face {
    font-family: 'Muller';
    src: url('/fonts/MullerLight.woff2') format('woff2'),
        url('/fonts/MullerLight.woff') format('woff');
    font-display: swap;
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('/fonts/MullerRegular.woff2') format('woff2'),
        url('/fonts/MullerRegular.woff') format('woff');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('/fonts/MullerMedium.woff2') format('woff2'),
        url('/fonts/MullerMedium.woff') format('woff');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('/fonts/MullerBold.woff2') format('woff2'),
        url('/fonts/MullerBold.woff') format('woff');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    padding-left: 45px;
    max-width: 88%;

    line-height: 32px;
}

body {
    font-family: 'Muller', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #333333;

    background-color: #f1f1f1;
}

.header {
    margin-bottom: 22px;
}

.container {
    max-width: 1168px;
    margin: 0 auto;
}

.section-title {
    padding-left: 45px;
    margin-bottom: 24px;

    font-size: 40px;
    font-weight: 400;
    line-height: 1;
}

.common-input {
    border: none;
    padding-left: 20px;

    line-height: 1;

    background-color: #ffffff;
}

.button {
    border-radius: 12px;
    border: none;

    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    color: #ffffff;

    background-color: #cc9933;
    cursor: pointer;
    user-select: none;
}

.item-pic {
    max-width: 100%;
}

.block-decor {
    border-radius: 12px;

    background-color: #ffffff;
}

.header-top-container {
    display: flex;
    align-items: center;
    padding-right: 10px;
    padding-top: 30px;
    margin-bottom: 28px;
}

.hotel-logo {
    max-width: 261px;
    height: 54px;
}

.hotel-tel {
    margin-left: 25px;

    color: #666666;
    font-size: 22px;
}

.hotel-user-account {
    margin-left: auto;
    padding-left: 18px;

    color: #cc9933;

    background: url("/img/Decorations/private-arrow.png") no-repeat left;
}

.header-panel-container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    height: 70px;
}

.navigation__list {
    display: flex;
    height: 100%;
}

.links-list__item:not(:first-child) {
    margin-left: 45px;
}

.nav-item__link {
    display: flex;
    align-items: center;
    height: 100%;

    line-height: 1;
}

.header__search-field {
    align-self: center;
    width: 355px;
    padding-top: 16px;
    padding-right: 50px;
    padding-bottom: 16px;
    border-radius: 15px;

    font-size: 14px;

    background: url("/img/Decorations/search-icon.png") no-repeat;
    background-position: 94%;
    background-color: #f1f1f1;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.booking {
    display: flex;
    flex-direction: column;
    width: 44.5%;
}

.booking__title {
    margin-bottom: 22px;
}

.booking__input-item {
    border-radius: 12px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 20px;
    margin-bottom: 24px;

    font-size: 16px;
}

.booking__search-button {
    padding: 30px 25px;

    font-weight: 700;
}

.booking__offer-count {
    margin-left: 30px;

    color: #999999;
}

.booking__offer-count b {
    color: #cc9933;
    font-weight: 400;
}

.special-offer-container {
    padding-top: 225px;
    padding-left: 46px;
    padding-bottom: 34px;

    width: 595px;

    background: url("/img/Content/special-room.png") no-repeat;
}

.special-offer__title {
    margin-bottom: 22px;
}

.special-offer-info-container {
    max-width: 62%;
}

.special-offer__main-title {
    padding-left: 0;
    margin-bottom: 28px;

    font-size: 66px;
    font-weight: 700;
    line-height: 58px;
    color: white;
}

.special-offer__price {
    font-size: 35px;
    line-height: 1;
    color: rgba(255, 255, 255, .49);
}

.special-offer__detail {
    margin-left: 42px;
    padding-right: 15px;

    color: #cc9933;

    background: url("/img/Decorations/link-arrow.svg") no-repeat right center;
    user-select: none;
}

.about {
    margin-top: 62px;
}

.about__title {
    margin-bottom: 26px;
}

.about__description {
    color: #666666;
}

.services {
    margin-top: 96px;
}

.services__title {
    margin-bottom: 24px;
}

.services__items-list {
    display: flex;
    flex-wrap: wrap;
}

.services-list__item {
    margin-bottom: 24px;
    width: 48.9%;
}

.services-list__item:nth-child(odd) {
    margin-right: 24px;
}

.service-item__title {
    display: inline-block;
    padding-left: 46px;
    padding-right: 14px;
    margin-top: 32px;
    margin-bottom: 12px;

    color: #cc9933;
    font-size: 22px;
    font-weight: 500;

    background: url("/img/Decorations/link-arrow.svg") no-repeat right center;
    transition: padding-right 0.3s;
}

.service-item__title:hover {
    padding-right: 42px;
}

.service-item__description {
    margin: 0;
    padding-bottom: 34px;

    color: #666666;
}

.features {
    margin-top: 42px;
}

.features__list {
    display: flex;
    flex-wrap: wrap;
}

.features-list__item {
    width: 23.5%;
    margin-bottom: 24px;
    padding-left: 45px;
    padding-top: 45px;
    padding-bottom: 28px;
}

.features-list__item:not(:nth-child(4n + 4)) {
    margin-right: 22px;
}

.features__pic {
    margin-bottom: 10px;
}

.features-item__description {
    padding-left: 0;
    margin: 0;
    max-width: 90%;
}

.placing {
    margin-top: 42px;
}

.placing__title {
    margin-top: 0;
}

.placing__list {
    display: flex;
    flex-wrap: wrap;
}

.placing-blocks__item {
    width: 32%;
    border-radius: 12px;
    margin-bottom: 22px;
    padding-bottom: 34px;

    background-color: #ffffff;
}

.placing-blocks__item:not(:nth-child(3n + 3)) {
    margin-right: 22px;
}

.placing-item-container {
    display: flex;
    flex-direction: column;
    padding: 0 45px;
}

.placing-item-info-container {
    display: flex;
    justify-content: space-between;
    margin-top: 26px;
}

.placing-item__from {
    color: #969696;
}

.placing-item__price {
    padding: 0;
    margin: 0;
}

.placing-item__sum {
    font-size: 22px;
}

.rating-container {
    align-self: center;
}

.placing-item__title {
    margin-top: 12px;
    margin-bottom: 0;

    font-size: 16px;
    font-weight: 500;
}

.placing-item__location {
    margin-top: 14px;

    color: #999999;
}

.placing-item__link {
    border: 1px solid #cc9933;
    padding: 12px 20px;
    margin-top: 20px;
    width: 36%;

    color: #cc9933;
    font-weight: 700;

    background-color: #ffffff;
}

.all-places {
    position: relative;

    padding-left: 45px;
    padding-right: 30px;

    background: url("/img/Content/All-photo.png") no-repeat;
}

.all-places__title {
    font-weight: 500;
}

.all-places__link {
    position: absolute;
    bottom: 44px;

    padding-right: 14px;

    color: #ffffff;
    font-size: 22px;

    background: url("/img/Decorations/white-link-arrow.svg") no-repeat right center;
}